body {
    background: #151417;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.navbar a,
body,
.container a {
    color: white;
    text-decoration: none;
}

.navbar a {
    margin-left: 20px;
}

.navbar {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}


.container {
    height: 90vh;
    display: flex;
    margin-left: 65px;
    gap: 8%;
}

.first-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.line {
    height: 70vh;
}

.line2 {
    height: 30%;
}

.links a {
    margin-left: 70px;
    font-size: 20px;
    font-weight: 600;
}

.container a {
    margin-bottom: 10px;
}

.second-container {
    padding: 20px;
}

.second-container li {
    font-size: 40px;
    margin-bottom: 10px;
}

.second-container h1 {
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 600;
}


.links a:hover {
    text-decoration: underline;
}